.Header {
    padding: 2rem;
    background-color: rgb(255, 45, 45);
    text-align: center;
}


body {
    font-family: 'Lato', sans-serif;
    background-color:black;
}

/* navbar */

.navbar {
  border-radius: 10px;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.5);
}

.navbar-brand{
    margin-left: 35px;
    margin-right: 35px;
    background-color: #003049;
}

.navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 55px;
  display: flex;
  align-items: center;
  list-style: none; 
}

@media (max-width: 780px) {
  .navbar-nav {
    flex-direction: column;
    list-style: none; 
  }
  .navbar-nav > li {
    margin-right:0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    list-style: none; 
    
  }
}

@media (min-width: 781) and (max-width: 990px) {
    .navbar-nav {
      flex-direction: column;
      list-style: none; 
    }
    .navbar-nav > li {
      margin-right: 0;
      list-style: none; 
    }
    
  }

@media (max-width: 1041px) {
  .navbar-nav {
    flex-direction: column;
    list-style: none; 
  }
  .navbar-nav > li {
    margin-right: 0;
    list-style: none; 
  }
  
}

.no-break {
    white-space: nowrap;
  }

.nav-item {
    margin-right: 25px;

  }
  
  .nav-item:last-child {
    margin-right: 0; 
    list-style: none; 
  }
  

/*end navar*/

/* Content */
.content h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;


}

.content h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #262626;
}
.content {
    background-color: rgb(255, 45, 45); ;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    color: black;
  }

  .imgfix {
      object-fit: cover;
      width: 300px;
      height: 300px;
      position: 50% 50%;
      border-radius: 5%;
      margin-top: 10%;
      margin-bottom: 10px;
      text-align: center;
  }



/* End of content */

.no-class {
  all: unset;
}

